.element-container:not(.selected) .resizer,
.element-container:not(.selected) .drag-handle {
  display: none;
}
.element-container:not(.section).selected .resizer,
.element-container:not(.section).selected .drag-handle {
  display: unset;
}

.element-container .resizers {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.element-container .resizers .resizer {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
  border: 1px solid #4286f4;
  position: absolute;
}

.element-container .resizers .resizer.top-right {
  right: -3px;
  top: -3px;
  position: absolute;
  cursor: nesw-resize;
}
.element-container .resizers .resizer.top-left {
  left: -3px;
  top: -3px;
  position: absolute;
  cursor: nwse-resize;
}
.element-container .resizers .resizer.bottom-left {
  left: -3px;
  position: absolute;
  bottom: -3px;
  cursor: nesw-resize;
}
.element-container .resizers .resizer.bottom-right {
  right: -3px;
  bottom: -3px;
  position: absolute;
  cursor: nwse-resize;
}
.element-container .resizers .resizer.top {
  right: 50%;
  top: -4px;
  position: absolute;
  cursor: ns-resize;
}
.element-container .resizers .resizer.bottom {
  right: 50%;
  bottom: -5px;
  position: absolute;
  cursor: nesw-resize;
}
.drag-handle {
  position: absolute;
  padding: 0px 10px 0px 10px;
  display: flex;
  height: 19px;
  top: -9px;
  left: 65%;
  margin-left: -9.5px;
  border-radius: 6px;
  background: linear-gradient(0deg, #d9d9d9, #f4f4f4 69%, #fff);
  box-shadow: 0 0 5px 0 rgba(22, 45, 61, 0.41);
  font-size: 0;
  transition: padding-left 0.1s;
  cursor: s-resize;
}
.rotate-handle {
  position: absolute;
  height: 21px;
  width: 21px;
  background-color: white;
  display: flex;
  top: -26px;
  opacity: 0;
  left: -26px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 rgba(22, 45, 61, 0.41);
  font-size: 0;
  transition: padding-left 0.1s;
}
.on-the-move .rotate-handle,
.on-the-move .resizer,
.on-the-move .drag-handle {
  opacity: 0 !important;
}
.rotate-handle img {
  height: 16px;
  width: 16px;
}
.button2 .rotate-handle img {
  transform: translate(-1px, -1px);
}
.drag-handle:hover {
  padding-right: 30px;
}

.drag-handle.bt {
  position: absolute;
  padding: 0px 10px 0px 10px;
  display: flex;
  height: 19px;
  top: calc(100% - 9px);
  left: 65%;
  margin-left: -9.5px;
  border-radius: 6px;
  background: linear-gradient(0deg, #d9d9d9, #f4f4f4 69%, #fff);
  box-shadow: 0 0 5px 0 rgba(22, 45, 61, 0.41);
  font-size: 0;
  transition: padding-left 0.1s;
  cursor: s-resize;
  z-index: 9999;
}

.drag-area-top {
  width: 100%;
  height: 20px;

  opacity: 50%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -10px;
  cursor: ns-resize;
}
.drag-area-bottom {
  width: 100%;
  height: 20px;
  opacity: 50%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -10px;
  cursor: ns-resize;
}
.sub-drag-area {
  height: 10px;
  width: 100%;
}
.sub-drag-area-color {
  background-color: var(--blue--main);
  height: 10px;
  width: 100%;
}

.drag-area {
  opacity: 0;
  z-index: 99999999;
  cursor: unset;
  transition: opacity 100ms ease-in-out;
}

.element-container.selected .drag-area:hover {
  opacity: 50%;
  cursor: ns-resize;
}
.element-container.selected .drag-area.hover {
  opacity: 50%;
  pointer-events: none;
  z-index: 0;
}

.element-container:not(.section).selected .rotate-handle {
  opacity: 1;
}
